doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        title Ansible presentation

        link(rel='stylesheet', type='text/css', href='build/build.css')

    body

        article

            section
                img(src='images/ansible_logo_black_square.png' width='300' height='300')
                h3 for DevOps
                h5 Machine-provisioning and application-deployment with ease.
                br
                br
                small Ansible presentation 06/15 @ Web-Dev-BBQ #4 Stuttgart/Germany

            section
                b Your flight captains for the next couple of minutes:
                br
                h2 Markus Wanjura
                p Head of IT & Development&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br> @ develop4edu GmbH Stuttgart
                p XING: <a href="http://xing.to/wanjura" target="_blank">xing.to/wanjura</a> GitHub: <a href="http://git.io/FGqg" target="_blank">git.io/FGqg</a>
                br
                h2 Felix Peters
                p Application Developer&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br> @ develop4edu GmbH Stuttgart
                p XING: <a href="http://xing.to/flxpeters" target="_blank">xing.to/flxpeters</a> GitHub: <a href="http://git.io/vIlcG" target="_blank">git.io/vIlcG</a>
                br
                br
                p Wir suchen gerade<br>Frontend-Freelancer!
                    img.hiring(src='http://d4e.io/hiring.gif' width='120')

            section
                h1 Agenda
                br

                ul.bullet
                    li What is ansible?
                    li The basics
                    li Provisioning & best practice
                    li Application deployment
                    li Toosl & Tipps

            section.gif.gif--poison
                h2.white What's your poison?
                br
                br
                br
                br
                br
                br
                h3.white Puppet, Chef, Salt, CFEngine, YADT, BASH, Ant, Phing, Capistrano, Deployer, Drush? ...
                br
                br
                br
                br
                br
                br
                h2.white All of them?

            section.gif.gif--complicated
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                h2.white You think they are complicated?

            section.gif.gif--hate
                h1.white You hate it?
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br

            section.gif.gif--agree
                h1.white You're right!
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br

            section.gif.gif--shame
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                h3.white So you're not an fulltime admin?<br>Neither one of those cool DevOps?
                h4.white ...without freetime and RL-friends?

            section.gif.gif--hope
                br
                br
                h1.white But wait!
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                h2.white Know YAML?
                h2.white A bit of BASH?

            section.gif.gif--happiness
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                h1.white Damn!
                h2.white You are a real DevOps!!!

            section
                h1 So what is ansible?

            section
                h2 So what is ansible?
                br
                ul.bullet
                    li A open-source software for configuring and managing computers.<br><br>
                    li Founded by Michael DeHaan<br><br>
                    li First release February 20, 2012 - 3 years ago<br><br>
                    li Written in python<br><br>
                    li It runs over SSH or PowerShell<br><br>
                    li It was named "Ansible" after the fictional instantaneous hyperspace communication system featured in Orson Scott Card's Ender's Game<br><br>

            section
                h2 Michael DeHaan's motivation?
                h3 "I wrote Ansible because none of the existing tools fit my brain.<br><br>I wanted a tool that I could not use for 6 months, come back later, and still remember how it worked."

            section
                h2.black Design goals
                br
                br
                br
                h3.black Minimal in nature
                text.black No additional dependencies on the environment.
                br
                br
                h3.black Secure
                text.black Ansible does not deploy vulnerable agents to nodes.<br>Only OpenSSH is required.
                br
                br
                h3.black Highly reliable
                text.black The idempotent ressource model.<br>Every run develivers the same result.
                br
                br
                h3.black Low learning curve
                text.black Playbooks use an easy and descriptive language based on YAML.

            section.gif.gif--fun
                h2.white Ok let's have some fun!
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br

            section
                h1 Ansible basics

            section
                h3 ... say's more than a thousand words.<br>A basic playbook.
                h6 Install an Apache webserver, configure and restart it.
                pre
                    code.language-javascript.
                        - hosts: webservers
                          vars:
                              http_port: 80
                          tasks:
                            - name: ensure apache is at the latest version
                              yum: pkg=httpd state=latest
                            - name: write the apache config file
                              template: src=/srv/httpd.j2 dest=/etc/httpd.conf
                              notify:
                                - restart apache
                            - name: ensure apache is running (and enable it at boot)
                              service: name=httpd state=started enabled=yes
                        handlers:
                            - name: restart apache
                              service: name=httpd state=restarted
            section
                h2 Fork me!
                h3 And have some instant fun<br> with

            section
                h2 Questions?

            section
                h2 Thank you!
                img(src='images/qrcode.png' width='200')
                a(href="https://github.com/mwanjura/ansible-presentation") github.com/mwanjura/ansible-presentation

        script(src='build/build.js')